.navbar-nav .nav-link {
  color: #000000 !important; /* Warna putih untuk teks navbar */
}
.hotel-booking {
  padding: 20px;
}

.progress-tracker {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 8rem;
  position: relative;
}

.step {
  flex: 1;
  text-align: center;
  position: relative;
}

.step::before,
.step::after {
  content: "";
  position: absolute;
  top: 15px; /* Sesuaikan nilai ini agar sejajar dengan step-number */
  width: 50%; /* Panjang garis, disesuaikan untuk masing-masing setengah */
  height: 2px; /* Ketebalan garis */
  background-color: #ddd;
}

.step::before {
  left: 0;
}

.step::after {
  right: 0;
}

.step:first-child::before {
  display: none; /* Hapus garis kiri dari langkah pertama */
}

.step:last-child::after {
  display: none; /* Hapus garis kanan dari langkah terakhir */
}

.step.done::before,
.step.done::after {
  background-color: #053b74; /* Warna untuk garis yang sudah selesai */
}

.step .step-number {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #ddd;
  border-radius: 50%;
  margin-bottom: 10px;
  font-weight: bold;
  position: relative;
  z-index: 1; /* Pastikan step-number di atas garis */
}

.step .step-title {
  display: block;
  font-size: 14px;
}

.step.done .step-number {
  background-color: #053b74; /* Warna untuk langkah yang sudah selesai */
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #053b74;
  color: white;
  border: none;
  border-radius: 5px;
}

.pilihan-kamar {
  font-size: 14px;
  color: #696969;
  padding: 20px;
}

.room {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.room h5 {
  font-size: 18px;
  font-weight: bold;
}

.room img {
  width: 100%;
  height: auto;
  max-width: 300px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  align-self: center;
}

.room-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.room-info p {
  margin: 5px 0;
}

.room-info a {
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .room {
      flex-direction: row;
      align-items: center;
  }

  .room h5 {
      text-align: left;
      margin-bottom: 0;
      margin-right: 20px;
  }

  .room img {
      margin-right: 20px;
      margin-bottom: 0;
  }

  .room-info {
      text-align: left;
  }
}
.colorgold {
  color: #ae8d4a;
}

.info-cust {
  padding: 20px;
}
.info-cust h2 {
  font-size: 24px;
}

.payment-information {
  padding: 20px;
}
.payment-information h2 {
  font-size: 24px;
}

.payment-method {
  margin-bottom: 20px;
}

.payment-details {
  margin-top: 20px;
}

.hidden {
  display: none;
}





.next-step {
  padding: 20px;
}

.policy-link {
  color: #007bff;
  text-decoration: none;
}

.policy-link:hover {
  text-decoration: underline;
}
