body {
    background: #fff;
    font-family: "Cabin", sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.8;
    color: #6c757d;
    position: relative;
}


/* ::-moz-selection {
    color: #fff;
    background: #ff0000;
}

::selection {
    color: #fff;
    background: #ff0000;
} */

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: #000;
    font-family: "Playfair Display", times, serif;
}

.font-family-serif {
    font-family: "Playfair Display", times, serif;
}

.font-family-sans-serif {
    font-family: "Lora", serif;
}

.bg-light {
    background: #f2f4fb !important;
}

.btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
}

.btn.btn-outline-white {
    border: 2px solid #fff;
}

.btn.btn-outline-white:hover {
    border: 2px solid transparent;
    background: #000;
    color: #fff;
}

.btn.btn-outline-white-primary {
    border: 2px solid #fff;
}

.btn.btn-outline-white-primary:hover {
    border: 2px solid transparent;
    background: #135ed0;
    color: #fff;
}

.btn.uppercase {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .2em;
}

.btn,
.form-control {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:focus,
.btn:active,
.form-control:focus,
.form-control:active {
    outline: none;
}

.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: 50px;
    border-width: 2px;
}

.form-control:active,
.form-control:focus {
    border-color: #016bb2;
}

textarea.form-control {
    height: inherit;
}

.full-height {
    height: 100vh;
    min-height: 700px;
}

.menu-open .site-menu-toggle span {
    background: #000;
}

.site-menu-toggle {
    display: none;
    top: 0;
    float: right;
    width: 40px;
    height: 45px;
    position: relative;
    margin: 0px auto;
    z-index: 200;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-right: 40px;
}

.site-menu-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.site-menu-toggle span {
    background: #000;
}

@media (max-width: 991.98px) {
    .site-menu-toggle {
        margin-right: 15px;
        display: block;
        top: 10px;
        position: relative;
    }
    .site-menu-toggle span {
        background: #000;
    }
}

.site-menu-toggle span:nth-child(1) {
    top: 0px;
}

.site-menu-toggle span:nth-child(2) {
    top: 10px;
}

.site-menu-toggle span:nth-child(3) {
    top: 20px;
}

.site-menu-toggle.open span:nth-child(1) {
    top: 13px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.site-menu-toggle.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.site-menu-toggle.open span:nth-child(3) {
    top: 13px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.section {
    padding: 7em 0;
}

@media (max-width: 991.98px) {
    .section {
        padding: 3em 0;
    }
}

@media (max-width: 991.98px) {
    .lead {
        font-size: 16px;
    }
}


/* .visit-section .heading {
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Roboto", arial, sans-serif;
    color: #b3b3b3;
    letter-spacing: .2em;
    margin-bottom: 30px;
}

.visit-section .visit a {
    color: #000;
}

.visit-section .visit a:hover {
    color: #ff0000;
}

.visit-section .visit img {
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.visit-section .visit h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.visit-section .reviews-star span {
    font-size: 18px;
    color: #ff0000;
}

.visit-section .reviews-count {
    color: #adb5bd;
    font-style: italic;
} */

.heading-serif,
.heading,
.testimonial-section .heading,
.slider-section .heading,
.blog-post-entry .heading {
    font-size: 60px;
    font-family: "Playfair Display", times, serif;
    font-weight: 700;
}

@media (max-width: 991.98px) {
    .heading-serif,
    .heading,
    .testimonial-section .heading,
    .slider-section .heading,
    .blog-post-entry .heading {
        font-size: 40px;
    }
}


/* .bg-pattern {
    background: #e9ecef url("../img/round.png");
} */

.slider-section {
    position: relative;
}


/*============== footer-area css ===============*/

.footer-area .footer-logo img {
    margin-bottom: 32px;
}

.footer-area .footer-social {
    margin-bottom: 30px;
}

.footer-area .footer-social a {
    width: 40px;
    height: 40px;
    border: 1px solid #888;
    background: #fff;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: #949eb2;
    margin-right: 5px;
    transition: .3s linear;
}

.footer-area .footer-social a:hover {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    transform: scale(1.1);
}

.footer-area .footer-social2 a:hover {
    background: #dca73a;
    color: #fff;
    border: 1px solid transparent;
}

.footer-area .footer-pera p {
    color: #868c98;
    font-size: 14px;
    padding-right: 52px;
}

.footer-area .footer-pera p span a {
    color: #dca73a;
}

.footer-area .footer-pera p span a:hover {
    color: #fff;
}

.footer-area .footer-tittle h4 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}

.footer-area .footer-tittle ul li {
    color: #868c98;
    margin-bottom: 14px;
}

.footer-area .footer-tittle ul li a {
    color: #ffffff;
    font-weight: 300;
}

.footer-area .footer-tittle ul li a:hover {
    color: #0f7add;
    padding-left: 5px;
}

.footer-area .footer-form {
    margin-top: 30px;
}

.footer-area .footer-form form {
    position: relative;
}

.footer-area .footer-form form input {
    width: 100%;
    height: 43px;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.footer-area .footer-form form .form-icon button {
    position: absolute;
    top: 6px;
    right: 18px;
    background: none;
    border: 0;
    cursor: pointer;
}

.footer-area .info.error {
    color: #dca73a;
}

.footer-menu li a:hover {
    text-decoration: none;
}

.footer-padding {
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #003A70;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .footer-padding {
        padding-top: 100px;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .footer-padding {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}


/* footer end */

.side-box,
.sidebar-search {
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.side-box .heading,
.sidebar-search .heading {
    font-size: 18px;
    margin-bottom: 30px;
    font-family: "Roboto", arial, sans-serif;
}

.post-list li {
    margin-bottom: 20px;
}

.post-list li a>div {
    margin-top: -10px;
}

.post-list li a .meta {
    font-size: 13px;
    color: #adb5bd;
}

.post-list li a .image {
    width: 150px;
}

.post-list li a h3 {
    font-size: 16px;
}

.post-list li:last-child {
    margin-bottom: 0;
}

.sidebar-search .form-group {
    position: relative;
    margin-bottom: 0;
}

.sidebar-search .icon-search {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sidebar-search .search-input {
    border-color: #dee2e6;
    padding-left: 40px;
    border-radius: 0px;
}

.sidebar-search .search-input:focus,
.sidebar-search .search-input:active {
    border-color: #343a40;
}

.contact-section .contact-info p {
    font-family: "Playfair Display", times, serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.contact-section .contact-info p .d-block {
    font-size: 14px;
    letter-spacing: .2em;
    font-weight: bold;
    font-family: "Roboto", arial, sans-serif;
    text-transform: uppercase;
}

.post-categories li {
    display: block;
}

.post-categories li a {
    display: block;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9ecef;
}

.post-categories li a .count {
    position: absolute;
    top: 0;
    right: 0;
    color: #6c757d;
}

.custom-pagination .page-item .page-link {
    text-align: center;
    border: none;
    background: none;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.custom-pagination .page-item.active .page-link {
    background: #0f94f3;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

.line-height-1-2 {
    line-height: 1.2;
}


/* Mouse Animation */

.mouse {
    width: 100px;
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 140px;
    z-index: 1;
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%);
}

.mouse-icon {
    width: 25px;
    height: 45px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.mouse-wheel {
    height: 6px;
    margin: 2px auto 0;
    display: block;
    width: 3px;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
}

@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

.site-block-half .image,
.site-block-half .text {
    width: 100%;
}

@media (min-width: 992px) {
    .site-block-half .image,
    .site-block-half .text {
        width: 50%;
    }
}

@media (max-width: 991.98px) {
    .site-block-half .image {
        margin-bottom: 50px;
        height: 300px;
    }
}

.site-block-half .text {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

@media (min-width: 992px) {
    .site-block-half .text {
        padding: 4rem;
    }
}

.site-block-half .bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 991.98px) {
    .site-block-half .bg-image {
        height: 400px;
    }
}

.site-block-half.site-block-video .image {
    position: relative;
}

.site-block-half.site-block-video .image .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 70px;
    height: 70px;
    background: #fff;
    display: block;
    border-radius: 50%;
    opacity: 1;
    color: #1366f7 !important;
}

.site-block-half.site-block-video .image .play-button:hover {
    opacity: 1;
}

.site-block-half.site-block-video .image .play-button>span {
    position: absolute;
    left: 55%;
    top: 50%;
    -webkit-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
}

.field-icon-wrap {
    position: relative;
}

.field-icon-wrap .form-control {
    position: relative;
    padding-right: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #a6a6a6;
}

.field-icon-wrap .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    z-index: 2;
}

.field-icon-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
}

.block-32 {
    background: #fff;
    padding: 30px;
    -webkit-box-shadow: 0 2px 80px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 80px -10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.block-32 .field-icon-wrap {
    position: relative;
}

.block-32 .field-icon-wrap .form-control {
    position: relative;
    padding-right: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #a6a6a6;
}

.block-32 .field-icon-wrap .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    z-index: 2;
}

.block-32 .field-icon-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
}

.block-2 {
    margin-bottom: 50px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

.block-2:hover .back,
.block-2.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.block-2:hover .front,
.block-2.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.block-2,
.block-2 .front,
.block-2 .back {
    width: 100%;
    height: 427px;
}

.block-2 .flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transition: 0.6s;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.block-2 .front,
.block-2 .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);
    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    top: 0;
    left: 0;
}

.block-2 .front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    background: rgb(44, 59, 222);
    z-index: 2;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block-2 .front:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

.block-2 .front .box {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.block-2 .front .box h2,
.block-2 .front .box p {
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.block-2 .front .box h2 {
    font-size: 20px;
}

.block-2 .front .box p {
    font-size: 12px;
}

.block-2 .back {
    background: #fff;
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.block-2 .back p {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
    font-size: 18px;
}

.block-2 .author {
    bottom: 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.block-2 .author .image {
    width: 40px;
}

.block-2 .author .image img {
    border-radius: 50%;
    max-width: 100%;
}

.block-2 .author .position {
    display: block;
    font-size: 12px;
}

@media (max-width: 991.98px) {
    .block-2 .back {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    .block-2 .front {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.text-black {
    color: #000 !important;
}

.check-availabilty {
    margin-top: -170px;
    position: relative;
}

.check-availabilty .block-32 {
    background: #fff;
    border-radius: 10px;
}

.room {
    position: relative;
    display: block;
}

.room .img-wrap {
    position: relative;
    overflow: hidden;
}

.room .img-wrap img {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    margin-bottom: 0 !important;
}

.room:hover .img-wrap img,
.room:focus .img-wrap img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.letter-spacing-1 {
    letter-spacing: .1em;
}

.text-opacity-8 {
    opacity: .8;
}

.text-opacity-7 {
    opacity: .7;
}

.text-opacity-6 {
    opacity: .6;
}

.text-opacity-5 {
    opacity: .5;
}

.letter-spacing-2 {
    letter-spacing: .2em;
}

.bg-image {
    background-size: cover;
    background-attachment: fixed;
}

.bg-image-2 {
    background-size: cover;
    background-position: center center;
}

.custom-caption {
    font-size: 14px;
    letter-spacing: .2em;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.bg-image.overlay {
    position: relative;
}

.bg-image.overlay>.container {
    position: relative;
    z-index: 3;
}

.bg-image.overlay:before {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.6);
}

.pb_navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 50px 0;
}

.pb_navbar .navbar-toggler:active,
.pb_navbar .navbar-toggler:focus {
    outline: none;
}

.pb_navbar .navbar-brand {
    font-family: "Playfair Display", times, serif;
    font-size: 30px;
}

.pb_navbar>.container {
    position: relative;
}

.pb_navbar .navbar-toggler {
    border: none;
    cursor: pointer;
    padding-right: 0;
}

.pb_navbar .navbar-toggler i {
    font-size: 30px;
}

.pb_navbar ul>li.cta-btn>a>span {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 991.98px) {
    .pb_navbar ul>li.cta-btn>a>span {
        border: none;
        background: #153df1;
        color: #fff;
    }
}

.pb_navbar .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

@media (max-width: 1199.98px) {
    .pb_navbar .nav-link {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

@media (max-width: 991.98px) {
    .pb_navbar .nav-link {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media (max-width: 767.98px) {
    .pb_navbar .nav-link {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media (max-width: 991.98px) {
    .pb_navbar .navbar-nav {
        border-radius: 0px;
    }
    .pb_navbar .navbar-nav a {
        color: #000;
    }
}

@media (max-width: 991.98px) {
    .pb_navbar {
        background: #fff;
        padding: 15px 15px;
    }
    .pb_navbar .navbar-brand {
        color: #000 !important;
        font-family: "Playfair Display", times, serif;
        margin-left: 15px;
    }
    .pb_navbar .navbar-nav {
        background: #fff !important;
    }
    .pb_navbar .navbar-toggler {
        color: black !important;
        border-color: black !important;
        cursor: pointer;
    }
    .pb_navbar ul li a {
        color: #000 !important;
    }
}

.pb_navbar.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff;
    padding: 0px;
}

@media (max-width: 991.98px) {
    .pb_navbar.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

@media (max-width: 767.98px) {
    .pb_navbar.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.pb_navbar.scrolled .navbar-toggler {
    border: none;
    color: rgba(15, 15, 15, 0.989);
    border-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding-right: 0;
}

.pb_navbar.scrolled .nav-link {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.pb_navbar.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.pb_navbar.scrolled.sleep {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.pb_navbar.scrolled.pb_scrolled-light {
    background: #fff !important;
    -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
}

.pb_navbar.scrolled.pb_scrolled-light .navbar-brand {
    color: #0e0c0cb4;
    font-family: "Playfair Display", times, serif;
}


/* NAVBAR DROPDOWN */

@media (max-width: 991.98px) {
    .pb_navbar.scrolled.pb_scrolled-light .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

.pb_navbar.scrolled.pb_scrolled-light ul li a {
    color: #212529 !important;
}

.pb_navbar.scrolled.pb_scrolled-light ul li a:hover,
.pb_navbar.scrolled.pb_scrolled-light ul li a:active,
.pb_navbar.scrolled.pb_scrolled-light ul li a:focus {
    color: #6c757d !important;
}

.pb_navbar.scrolled.pb_scrolled-light ul li a.active {
    color: #2674d9 !important;
}

.pb_navbar.scrolled.pb_scrolled-light ul li.cta-btn>a>span {
    border: none;
    background: #2647dc;
    color: #fff;
}

.pb_offcanvas-nav_v1 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #000;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.pb_offcanvas-nav_v1.active {
    opacity: 1;
    visibility: visible;
}

.pb_offcanvas-nav_v1 .pb_main-nav {
    padding-top: 50px;
    padding-right: 50px;
    float: right;
    text-align: right;
    font-size: 30px;
    height: 100vh;
    overflow-y: auto;
}

.pb_offcanvas-nav_v1 .pb_main-nav li {
    list-style: none;
    line-height: 1.5;
    margin-bottom: 10px;
}

.pb_offcanvas-nav_v1 .pb_main-nav li a {
    color: #fff;
}

.pb_offcanvas-nav_v1 .pb_main-nav li a.active {
    text-decoration: underline;
}

.pb_offcanvas-header_v1 {
    padding-top: 40px;
    z-index: 2;
    position: absolute;
    width: 100%;
}

.pb_offcanvas-header_v1>.container {
    position: relative;
}

.pb_offcanvas-header_v1 .pb_site-name {
    position: absolute;
    left: 15px;
}

.pb_offcanvas-header_v1 .pb_toggle-menu {
    position: absolute;
    right: 0px;
    top: 17px;
}

@media (max-width: 767.98px) {
    .pb_offcanvas-header_v1 .pb_toggle-menu {
        top: 13px;
    }
}


/********************************* Blog *********************************/

.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item {
    height: 100%;
}

.slide {
    height: 100%;
}

.blog {}

.blog_slider_container {
    width: 100%;
    height: 487px;
}

.blog_slide {
    height: 100%;
    background: #0f0a27;
}

.blog_slide .background_image {
    opacity: 0.33;
}

.blog_content {
    position: absolute;
    left: 52px;
    bottom: 57px;
    width: calc(100% - 52px);
    padding-right: 30px;
}

.blog_date {
    width: 116px;
    height: 26px;
    background: #C49102;
    text-align: center;
}

.blog_date a {
    display: block;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: 26px;
}

.blog_title {
    margin-top: 14px;
}

.blog_title a {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.2;
}

.blog_title a:hover {
    color: #CEA734;
}


/* ============= blog end ============= */


/* ======= tombol check ======== */

.btncheck {
    background-color: #2674d9;
}

.btncheck:hover {
    background-color: #4991ef;
}


/* ===================== welcome area =========================== */

.welcome-area {
    position: relative;
    z-index: 1;
}

.welcome-slides {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.welcome-slides .owl-prev,
.welcome-slides .owl-next {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #2663c5;
    text-indent: -50000em;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -40px;
    z-index: 10;
    background-position: center center !important;
    background-size: cover !important;
    opacity: 0;
    visibility: hidden;
}

@media only screen and (max-width: 767px) {
    .welcome-slides .owl-prev,
    .welcome-slides .owl-next {
        width: 40px;
        left: 20px;
        height: 40px;
    }
}

.welcome-slides .owl-next {
    left: auto;
    right: 30px;
}

@media only screen and (max-width: 767px) {
    .welcome-slides .owl-next {
        right: 20px;
    }
}

.welcome-slides:hover .owl-prev,
.welcome-slides:hover .owl-next,
.welcome-slides:focus .owl-prev,
.welcome-slides:focus .owl-next {
    opacity: 1;
    visibility: visible;
}

.single-welcome-slide {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 770px;
    background-color: #cddbed;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-welcome-slide {
        height: 600px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-welcome-slide {
        height: 600px;
    }
}

@media only screen and (max-width: 767px) {
    .single-welcome-slide {
        height: 700px;
    }
}

.single-welcome-slide .welcome-text {
    position: relative;
    z-index: 1;
}

.single-welcome-slide .welcome-text h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    margin-bottom: 30px;
}

.single-welcome-slide .welcome-text h2 {
    font-size: 72px;
    display: block;
    margin-bottom: 30px;
    color: #ffffff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-welcome-slide .welcome-text h2 {
        font-size: 48px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-welcome-slide .welcome-text h2 {
        font-size: 42px;
    }
}

@media only screen and (max-width: 767px) {
    .single-welcome-slide .welcome-text h2 {
        font-size: 30px;
    }
}


/* ===================  foto =====================*/

.bg-section {
    padding: 40px 0;
}

.bg-color {
    background-color: #f3f3f3 !important;
}

.bg-white {
    background-color: #fff;
}

.shadowed {
    box-shadow: 0 .125rem .125rem 0 rgba(0, 0, 0, .1);
}

.widget-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    position: relative;
}

.widget-container.image-top {
    margin-top: 100px;
    margin-bottom: 40px;
}

.widget-container .wrapper {
    position: relative;
    display: flex;
    margin: 0;
    width: 90%;
}

.widget-container.image-left .wrapper {
    margin-left: 10%;
}

.widget-container.image-right .wrapper {
    margin-right: 10%;
}

.widget-container .wrapper>div {
    flex-grow: 1;
}

.widget-container .image-wrapper {
    width: 40%;
}

.widget-container .image-wrapper.full {
    width: 100%;
    margin-right: 118px;
}

.widget-container .image-wrapper>span {
    display: block;
    position: relative;
    margin-top: -100px;
    margin-bottom: 60px;
}

.widget-container.image-left .image-wrapper>span {
    margin-left: -118px;
}

.widget-container.image-right .image-wrapper>span {
    margin-right: -118px;
}

.widget-container .content-wrapper {
    width: 60%;
}

.widget-container .content-inner {
    padding: 100px;
}

.link-pos {
    position: absolute;
    bottom: 5px;
    right: 0;
}

@media only screen and (max-width: 768px) {
    .widget-container {
        padding: 0;
    }
    .widget-container.image-top {
        margin-top: 0;
        margin-bottom: 0;
    }
    .widget-container .wrapper {
        width: 100%;
    }
    .widget-container.image-left .wrapper,
    .widget-container.image-left .image-wrapper>span {
        margin-left: 0;
    }
    .widget-container.image-right .wrapper,
    .widget-container.image-right .image-wrapper>span {
        margin-right: 0;
    }
    .widget-container .content-inner {
        padding: 40px;
    }
}

.vh70 {
    height: 70vh;
}

.radius {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}


/* ================== hover dropdown kepake semuaaaa jangan dihapus ====================== */

.dropdown-item:hover {
    color: #fff;
    background-color: #3675dc;
}

.pb_navbar.scrolled.pb_scrolled-light ul li a.active {
    color: #fff !important;
    background-color: #3675dc;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #3675dc;
}